<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Support.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.EditorFormatterReplacer, Sitecore.Support.109793" patch:before="*[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client']"/>
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>